<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script type="module" src="${toolkitUri}"></script>
    <script type="module" src="${srcUri}"></script>
    <title>IB20 SQL Config</title>
</head>

<body>

    <div class="sqlconfig-list">
        <label for="my-dropdown">Choose SQL CONFIG:</label>
        <select class="sqlconfig-list-dropdown" id="sqlconfig-list-dropdown">
            <option value="">--Please choose an option--</option>
        </select>
    </div>
</body>

</html>